<div class="section-01">
	<%= image_tag "cataclysm-text.png", :class => "logo" %>
</div>

<div class="dropdown-area">
	<p class="text">Hey there! We're still getting everything set up, but we'd like to invite you to <a href="">learn more</a> about Cataclysm while we prepare for our April 2015 launch!</p>
</div>