<header>
    <%= image_tag "white-text/orange-logo.png", :class => "logo", :alt => "Cataclysm" %>
</header>

<div class="section-about">
    <h3>What?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Num quid tale Democritus? Gloriosa ostentatio in constituendo summo bono. Qua ex cognitione facilior facta est investigatio rerum occultissimarum. Sed tamen intellego quid velit. Sed ad illum redeo. Duo Reges: constructio interrete. Videmusne que el ni침o no verberibus quidem a contemplandis rebus perquirendisque deterreantur? Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.</p>
    <p>Eaedem res maneant alio modo. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Erit enim conmigo, si tecum erit. Ex eorum enim scriptis y de las instituciones cum omnis doctrina liberalis, omnis historia. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Qua igitur est치s ab deo vincitur, si aeternitate non vincitur? Quam illa ardentis amores excitaret sui! Cur tandem? Illud mihi a te nimium festinanter dictum videtur, sapientis omnis esse semper beatos;</p>
</div>
<div class="section-who">
    <h3>Who?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Num quid tale Democritus? Gloriosa ostentatio in constituendo summo bono. Qua ex cognitione facilior facta est investigatio rerum occultissimarum. Sed tamen intellego quid velit. Sed ad illum redeo. Duo Reges: constructio interrete. Videmusne que el ni침o no verberibus quidem a contemplandis rebus perquirendisque deterreantur? Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.</p>
    <p>Eaedem res maneant alio modo. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Erit enim conmigo, si tecum erit. Ex eorum enim scriptis y de las instituciones cum omnis doctrina liberalis, omnis historia. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Qua igitur est치s ab deo vincitur, si aeternitate non vincitur? Quam illa ardentis amores excitaret sui! Cur tandem? Illud mihi a te nimium festinanter dictum videtur, sapientis omnis esse semper beatos;</p>
</div>